#resultsPage {
    margin-left: 10%;
    width: 80%;
    display: grid;
    margin-top: 100px;
    grid-template-columns: auto auto;
}

#playAgain {
    color: white;
    font-size: 24px;
    background-color: var(--bg-color);
    border: 6px solid rgb(182, 158, 20);
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
}

#playAgain:hover {
    font-weight: bold;
    cursor: pointer;
}