* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: center;
}

#resultsPage {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#playAgain {
    /* color: white; */
    font-size: 40px;
}