#homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startBtn {
    border: 6px solid rgb(182, 158, 20);
    background-color: rgb(124, 155, 124);
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.startBtn:hover {
    font-weight: bold;
    cursor: pointer;
}