* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: center;
}

#optionPage {
    display: grid;
    height: 100vh;
}

.optionsBtn {
    padding: 12px;
    border: 2px solid blue;
    color: black;
}

.optionsBtn:hover {
    font-weight: bold;
}

.ready {
    font-size: 30px;
    color: white;
}

.formLine {
    padding: 15px;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}
