#optionPage {
    display: grid;
    height: 100vh;
}

.optionsBtn {
    padding: 12px;
    border: 6px solid rgb(182, 158, 20);
    background-color: rgb(124, 155, 124);
    border-radius: 30px;
    color: white;
}

.optionsBtn:hover {
    font-weight: bold;
}

.ready {
    font-size: 30px;
    color: white;
}

.formLine {
    padding: 15px;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}
