#optionPage {
    display: grid;
    height: 100vh;
}

.optionsBtn {
    padding: 12px;
    border: 6px solid rgb(182, 158, 20);
    background-color: var(--bg-color);
    border-radius: 30px;
    color: white;
}

.optionsBtn:hover {
    font-weight: bold;
}

/* .ready {
    font-size: 30px;
    color: white;
} */

.formLine {
    color: black;
    font-weight: bold;
    padding: 12px;
    font-size: 18px;
}

#addNew {
    background-color: rgb(216, 213, 213);
    border: 1px solid rgb(182, 158, 20);
    border-radius: 30px;
    padding: 5px;
}

#addNew:hover {
    font-weight: bold;
    cursor: pointer;
}