.answer {
    width: 350px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(113, 210, 235, 0.5);
    border-style: none;
    margin: 5px;
    padding: 10px;
}

.answer:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

#questionComponent {
    padding: 20px;
    height: 100%;
    display: inline-block;
    margin-right: 30px;
}

.answerForm {
    position: relative;
}

.turn {
    font-size: 16px;
}

#qTitle {
    height: 50px;
    font-weight: bold;
}