#gamePage {
    display: grid;
    /* height: 50vh; */
}

#gameArea {
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    /* position: fixed; */
}

#playerStats {
    position: fixed;
    margin-top: 100px;
}

#question {
    position: fixed;
    margin-left: 180px;
    width: 75%;
    margin-top: 40px;
    margin-right: 20px;
}