@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: center;
}

#app {
    font-family: 'Open Sans', sans-serif;
}

/* background-color: rgb(124, 155, 124); */
/* border-bottom: 6px solid rgb(182, 158, 20); */
/* 
:root {
    --background-color: rgb(124, 155, 124);
    --border: 6px solid rgb(182, 158, 20);
} */